.cy-search-modal-body{
    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu{
        top: 85% !important;
        left: 1.5% !important;
        max-height: 100%;
    }
}
.filter_domain {
    .custom-dropdown.o-autocomplete .o-autocomplete--dropdown-menu{
        top: 73% !important;
        left: 1.5% !important;
        max-height: 100%;
    }
}
.o_multi_record_selector {
    border:none;
}