.cy_search_view + div{
    display: none;
    }
.cy-search-modal-body .customCheckbox{
    display:none;
    }

.light-studio-mode .view_overall_light .button_properties .cy-input, .light-studio-mode .view_overall_light .cy-studio-custom-dropdown,.light-studio-mode .view_overall_light .button_properties .cy-studio-custom-dropdown .d-flex {
    background-color: white !important;
    }
