@font-face {
    font-family: 'Yu Gothic UI';
    src: url('/account_move/static/src/fonts/yu-gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'times new roman';
    src: url('/account_move/static/src/fonts/times new roman bold.ttf') format('truetype');
}
